.idea
/data/
/lib/
*.pth
*.ply
*.obj
*.png
*.log
*.whl
*.zip
*.pyc
*.csv
*.json
/models/mmgnn/dif_knn/
/models/mmgnn/mmgnn_lstm/
/models/mmgnn/no_align/
/models/mmgnn/no_gnn/
/models/mmgnn/no_han/
/models/mmgnn/mmgnn_weak/
/models/mmgnn/mmgnn_origin/
/models/siammae_pretrain/
/models/vig_lib/
/models/audiomae_pretrain/
/models/mmgnn/mmh_gnn/
